version: '3.8'
services:
  minio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: minio-custom
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - '/mnt/data/files:/data'
    command: server /data --console-address ":9001"
    networks:
      - coolify

networks:
  coolify:
    external: true